<div class="details-dp">
    <h1>Les régions du Mali</h1>
    
    <table border="1">
      <tr>
        <th>Nom</th>
        <th>Nombre d'habitants</th>
      </tr>
      <tr>
        <td>Bamako</td>
        <td>{{ nbr_Bko_habit }}</td>
      </tr>
      <tr>
        <td>Gao</td>
        <td>{{ nbr_Gao_habit }}</td>
      </tr>
      <tr>
        <td>Kayes</td>
        <td>{{ nbr_Kayes_habit }}</td>
      </tr>
      <tr>
        <td>Kidal</td>
        <td>{{ nbr_Kidal_habit }}</td>
      </tr>
      <tr>
        <td>Koulikoro</td>
        <td>{{ nbr_Koulikoro_habit }}</td>
      </tr>
      <tr>
        <td>Mopti</td>
        <td>{{ nbr_Mopti_habit }}</td>
      </tr>
      <tr>
        <td> Ségou</td>
        <td>{{ nbr_ Ségou_habit }}</td>
      </tr>
      <tr>
        <td> Sikasso</td>
        <td>{{ nbr_ Sikasso_habit }}</td>
      </tr>
      <tr>
        <td> Timbuktu</td>
        <td>{{ nbr_ Timbuktu_habit }}</td>
      </tr>
    </table>